<!--Service-->
<section  id="service">
  <div class="container">
    <h2>What We Offer</h2>
    <div class="service_wrapper">
      <div class="row">
        <div class="col-lg-4">
          <div class="service_block">
            <div class="service_icon delay-03s animated wow  zoomIn"> <span><i class="fa fa-wifi"></i></span> </div>
            <h3 class="animated fadeInUp wow">Serial to Wireless Converters</h3>
            <p class="animated fadeInDown wow">These converters will let you connect your serial device to your computer over WiFi.</p>
          </div>
        </div>
        <div class="col-lg-4 borderLeft">			
          <div class="service_block">
            <div class="service_icon icon2  delay-03s animated wow zoomIn"> <span><i class="fa fa-user-plus"></i></span> </div>
            <h3 class="animated fadeInUp wow">Human Machine Interfaces</h3>
            <p class="animated fadeInDown wow">Our HMI products provide various communication ports for fast communication and convenient control of a diverse range of machines, systems and facilities.</p>
          </div>
        </div>
        <div class="col-lg-4 borderLeft">
          <div class="service_block">
            <div class="service_icon icon3  delay-03s animated wow zoomIn"> <span><i class="fa fa-server"></i></span> </div>
            <h3 class="animated fadeInUp wow">Remote Terminal Units</h3>
            <p class="animated fadeInDown wow">Whether you are looking for maximum flexibility or fit-for-purpose, we have the right RTU for your application.</p>
          </div>
        </div>
      </div>
	   <div class="row borderTop">
        <div class="col-lg-4 mrgTop">
          <div class="service_block">
            <div class="service_icon delay-03s animated wow  zoomIn"> <span><i class="fa fa-sliders"></i></span> </div>
            <h3 class="animated fadeInUp wow">Programmable Automation Controllers</h3>
            <p class="animated fadeInDown wow">Our PACs are designed for control tasks which require Industrial PC computing performance and a PLC's robustness.</p>
          </div>
        </div>
        <div class="col-lg-4 borderLeft mrgTop">
          <div class="service_block">
            <div class="service_icon icon2  delay-03s animated wow zoomIn"> <span><i class="fa fa-terminal"></i></span> </div>
            <h3 class="animated fadeInUp wow">Automation Softwares</h3>
            <p class="animated fadeInDown wow">We provide innovative & end-to-end factory automation software solutions & consulting services to the most challenging equipment automation, data management, and process control problems.</p>
          </div>
        </div>
        <div class="col-lg-4 borderLeft mrgTop">
          <div class="service_block">
            <div class="service_icon icon3  delay-03s animated wow zoomIn"> <span><i class="fa fa-desktop"></i></span> </div>
            <h3 class="animated fadeInUp wow">Embedded Automation Computers</h3>
            <p class="animated fadeInDown wow">We offer industrial-grade panel PCs and displays to better serve you. We deliver tailored products to meet the specific needs of your applications and our customizable service is both speedy and friendly.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row borderTop">
        <div class="col-lg-4 mrgTop">
          <div class="service_block">
            <div class="service_icon delay-03s animated wow  zoomIn"> <span><i class="fa fa-plug"></i></span> </div>
            <h3 class="animated fadeInUp wow">Remote I/O Modules</h3>
            <p class="animated fadeInDown wow">We provide a wide range of remote I/O solutions for temperature measurement, industrial and lab automation, and many other industry applications. We have a wide range of units that will meet any requirements.</p>
          </div>
        </div>
        <div class="col-lg-4 borderLeft mrgTop">
          <div class="service_block">
            <div class="service_icon icon2  delay-03s animated wow zoomIn"> <span><i class="fa fa-random"></i></span> </div>
            <h3 class="animated fadeInUp wow">Media Converters</h3>
            <p class="animated fadeInDown wow">We provide state-of-the-art media converters for efficient and stable media conversion. Our state-of-the-art Fiber Converter units meet the demands of the industry and are affordable devices that save space.</p>
          </div>
        </div>
        <div class="col-lg-4 borderLeft mrgTop">
          <div class="service_block">
            <div class="service_icon icon3  delay-03s animated wow zoomIn"> <span><i class="fa fa-database"></i></span> </div>
            <h3 class="animated fadeInUp wow">Data Acquisition & Communication Modules</h3>
            <p class="animated fadeInDown wow">We offer a wide range of high-tech Data Acquisition Cards to meet the various needs of industrial application and new automation projects powered by the latest technology.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Service-->